




/*
     FILE ARCHIVED ON 12:57:25 May 2, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 3:07:54 Mar 29, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
ul,ol,dl{margin:1em;}ul li{list-style:disc outside;}ol li{list-style:decimal outside;}em{font-style:italic;}strong{font-weight:bold;}.boxcontent h3{font-size:116%;text-align:center;}.boxcontent h4{text-align:center;}.boxcontent{color:black;line-height:1.5em;text-align:center;}ul{margin-left:2em;}ol{margin-left:2.5em;}.boxcontent p{margin:1em 0;text-align:center;}hr{border:0;color:#800;background:#800;height:1px;margin-top:0;margin-bottom:1em;}.boxcontent img{border:2px dashed #000;text-align:center;}